
body {
	padding-top: 50px;
	padding-bottom: 40px;
	color: #5a5a5a;
	position: relative;
}

h1 small {
	color: #CCCCCC;
}

h2.title {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 40px; 
}

.nav-container {
/*  margin-top: -40px;
  height: 40px;
  position: relative;
  z-index: 99999;*/
}

/*header*/

#header {
	background-color: #2D1604;
	color: #ffffff;
	background: url("../images/titleImage.png") no-repeat scroll center top / cover #2D1604;
	height: 300px;
}

/*about*/

#about {
	background-color: #2D1604;
	color: #dddddd;
	padding: 40px 0; 
}

/*projects*/

#projects {
	margin-bottom: 40px;
	margin-top: 40px; 
}

.project_info{
	margin: 40px 0;
	padding: 0 40px;
}

.project_info h3 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin: 40px 0; 
}

.project_separator {
	margin: 40px 0;
}

/*team*/

#team {
	background-color: #2D1604;
	color: #dddddd;
	padding: 40px 0; 
}

#team img.avatar {
	height: 300px;
}

#team h3 {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/*contacts*/

#contacts {
	margin-bottom: 40px;
	margin-top: 40px; 
}

#contact_info {
	margin: 40px 0;
	font-size: 1.2em;
	line-height: 2.2;
}

#map_convas {
	height: 300px;
	width: 100%;
}


/*Navigation menu*/

.navbar{ 
    background-image: none;
	background-color: #2d1604;
	border: none;
	border-color: #CCCCCC;
	min-height: 50px;
}

.navbar-nav > li > a {
	text-transform: uppercase;
	color: #ffffff;
	height: 50px;
	font-size: 0.9em;
	letter-spacing: 1.2pt; 

	padding-top: 12px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: #ffffff;
    background-color: #2d1604;
    padding-bottom: 5px;
    border-bottom: 4px #ffffff solid; 
}

.navbar-nav > li > a:active {
	color: #ffffff;
}

.navbar-nav > .active > a {
	color: #2d1604;
	background-color: #ffffff;
    border-top: 6px #2d1604 solid;
	padding-top: 8px;
	font-weight: bold;
	cursor: default; 
}

.navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: #2d1604;
	background-color: #ffffff;
    border-top: 6px #2d1604 solid;
	padding-top: 8px;
	font-weight: bold;
	cursor: default; 
}

.navbar-brand {
	color: #ffffff;
}

.navbar-brand.active {
	color: #ffffff;
}

a.navbar-brand:hover, a.navbar-brand:focus {
	color:  #ffffff
}

.navbar-toggle {
	border-color: none;
	height: 32px; 
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background-color: #ffffff; 
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
	background-color: #2d1604;
}

.navbar-toggle .icon-bar {
	background-color: #ffffff;
}