@font-face {
    font-family: 'proxima_nova_extrabold';
    src: url('../fonts/proxima_nova_extrabold-webfont.eot');
    src: url('../fonts/proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_extrabold-webfont.ttf') format('truetype'),
    url('../fonts/proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/proxima_nova_semibold-webfont.eot');
    src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'),
    url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'),
    url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: "OpenSansRegular";
}

.main-body {
  background-color: #313131;
}

.bg-primary {
    background-color: white;
    color: black;
}

.bg-dark {
    background-color: black;
    color: white;
}

.bg-color {
    background-color: #dd5f5c;
    background-color: rgba(221, 95, 95, .8);
    color: white;
}


.bg-photo-1 {
    background-image: url(../assets/bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: black;
    color: white;
}

.bg-photo-2 {
    background-image: url(../assets/bg-2.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: black;
    color: white;
}

.bg-photo-3 {
    background-image: url(../assets/bg-3.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: black;
    color: white;
}

.circle {
    border-radius:50%;
    display:table;
    height: 250px;
    font-family: "OpenSansExtraBold";
    font-size: 1.8em;
    width: auto;
    margin:0 auto;
}

.circle span {
    display:table-cell;
    vertical-align:middle;
    height:250px;
    width:250px;
    text-align:center;
    padding: 0 15px;
}

.circle-block {
    padding: 10px;
}

.circle-block-title {
    margin-top: 30px;
    display: inline-block;
    font-size:18px;
}

/*Navigation menu*/

.navbar {
    float: left;
    width: 100%;
    border: none;
    height: 70px;
}

.navbar-inner {
    height: 90px;
}

.container>.navbar-header {
    margin: 0;
}

.logo {
    float:left;
    background: url('../assets/logo.png') left top no-repeat;
    font-family: 'proxima_nova_semibold';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    line-height: 135%;
    color: white;
    text-align: left;
    width: 200px;
    padding-left: 65px;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 30px;
}

.logo span {
    font-family: 'proxima_nova_semibold';
}

#navbar.in {
    background-color: rgba(38, 39, 41, 0.95);
}

#navbar.in .navbar-nav > li > a {
    height: 50px;
}

.navbar-nav {
    font-family: 'proxima_nova_semibold';
    margin: 0;
    margin-left: 30px;
}

.navbar-nav > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 1.2pt;

    height: 45px;
    margin-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus  {
    color: #ffffff;
    background-color: transparent;
    border-bottom: 4px #dd5f5c solid;
}

.navbar-nav > .active > a {
    color: #ffffff;
    background-color: transparent;
    border-bottom: 4px #ffffff solid;
}

.navbar-toggle {
    border-color: none;
    height: 32px;
    margin-top: 25px;
    margin-right: 25px;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: #231F20;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/*Header*/

.cbox {
    color:#fff;
    text-align: right;
    float:right;
    margin-right: 30px;
    margin-top: 16px;
}

.cbox .tel, .cbox .email, .cbox .address {
    display:block;
}

.cbox .tel {
    margin-bottom:3px;
    font-size:20px;
}

.cbox .tel a, .cbox .tel a:hover  {
    color:#fff;
    text-decoration: none;
}

.cbox .email {
    font-size:16px;
}

.cbox .email a {
    text-decoration: none;
    color: #dd5f5c;
}

.cbox .email a:hover {
    text-decoration: underline;
}

.butt {
    display:block;
    margin:0px 0px 25px 0px;
}

.butt a {
    font-family: "OpenSansBold";
    font-size: 12px;
    background: #dd5f5c;
    border-radius: 27px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 200px;
    height: 54px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 19px;
    letter-spacing: 1.5pt;
}

.butt a:hover {
    background: #E06F6D;
}

.arrow {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.is-mobile .arrow {
    visibility: none;
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
}


@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-7px);}
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-10px);}
    60% {-moz-transform: translateY(-7px);}
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-10px);}
    60% {-o-transform: translateY(-7px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-4px);}
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    color:#fff;
    margin:0px 3% 25px 3%;
    font-family: "OpenSansExtraBold";
    font-weight: normal;
    text-align: center;
    line-height: 120%;
    font-size: 22px;
}

header .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    color: #b7b7b7;
    line-height: 1.5em;
    margin-bottom:38px;
}

@media (min-width : 320px) {

    .header-content .cbox {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-bottom: 20px;
        margin-right: 0px;
        float: none;
        width: 100%;
        text-align: center;
    }

    header .header-content .header-content-inner h1 {
        font-size: 22px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    header .header-content .header-content-inner p {
        font-size:14px;
    }
}

@media (min-width:768px) {

    header {
        min-height: 100%;
    }

    .cbox {
        position: static;
        width: auto;
        margin: inherit;

        text-align: right;
        float:right;
        margin-right: 30px;
        margin-top: 16px;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner h1 {
        margin-top: 60px;
        font-size: 40px;
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size:21px;
    }
}

@media (max-width: 992px) {

    .navbar .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navbar-nav {
        margin-left: 0px;
    }

    .navbar-nav > li > a {
        font-size: 0.8em;
    }

    .logo {
        margin-left: 10px;
    }

    .cbox {
        margin-right: 10px;
        margin-top: 25px;
    }

    .cbox .tel {
        font-size:16px;
    }

    .cbox .email {
        font-size:14px;
    }

}

@media only screen and (min-width : 992px) {
    header .header-content .header-content-inner h1 {
        margin-top: 25px;
        font-size: 55px;
    }
}

/* Sections */

section {
    min-height: auto;
    text-align: center;
    padding: 20px;
}

section .section-container h2 {
    margin:0px 3% 25px 3%;
    font-family: "OpenSansExtraBold";
    font-weight: normal;
    text-align: center;
    line-height: 120%;
    font-size: 22px;
}

section .section-container .subtit {
    font-size: 16px;
    font-weight: 300;
    color: #b7b7b7;
    line-height: 1.5em;
}

section .section-title {
    margin-bottom:38px;
}

@media(min-width:768px) {

    section {
        width:100%;
        height:100%;
        display:table;
    }

    .section-container {
        display:table-cell;
        vertical-align: middle;
    }

    section .section-container h2 {
        font-size: 54px;
    }

    section .section-container .subtit {
        font-size: 21px;
        font-weight: 300;
        line-height: 1.5em;
    }

    section .section-title {
        margin-bottom:40px;
    }
}

/* Teammate */

.avatar {
    width: 250px;
    height: 250px;
}

.teammate h3 {
    font-family: 'proxima_nova_semibold';
}

.teammate h3 a {
    font-family: 'proxima_nova_semibold';
    color: black;
}

.teammate h3 a:hover {
    color: #dd5f5c;
    text-decoration: none;
}

/* Projects */
.all-projects {
  color: #000;
}

.all-projects:hover {
  /*text-decoration: underline;*/
  color: #dd5f5c;
}

.project {
    padding: 10px;
}

.project a {
    color: black;
}

.project a:hover {
    text-decoration: underline;
    color: #dd5f5c;
}

.project-img {
    max-width: 200px;
}

.project-name {
    font-family: "OpenSansExtraBold";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5em;
}

.project-date {
    color: #b7b7b7;
}

.project-description {
    font-size: 14px;
    line-height: 1.5em;
    height: 100px;
}

/* Contacts */

#contacts {
    padding-bottom: 70px;
}

.contacts {
    padding: 20px;
}

.contacts .tel, .contacts .email, .contacts .name {
    display:block;
}

.contacts .name {
    font-size:40px;
    margin-bottom:10px;
}

.contacts .tel {
    margin-bottom:10px;
    font-size:20px;
    color: #b7b7b7;
}

.contacts .tel a {
    color: #b7b7b7;
    text-decoration: none;
}

.contacts .tel a:hover {
    color: #b7b7b7;
    text-decoration: none;
}

.contacts .email {
    font-size:16px;
    margin-bottom:6px;
}

.contacts .email:hover a {
    text-decoration: underline;
}

.contacts .email a {
    text-decoration: none;
    color: #dd5f5c;
    font-size: 14px;
}

@media only screen and (min-width : 480px) {
    .contacts .email a {
        font-size: 20px;
    }
}

footer {
    margin-top: -80px;
    padding-top: 40px;
    height: 70px;
}

.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 50px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* Projects.html */

#lifehacker {
    padding: 0
}

#lifehacker .section-container {
    float: left;
    width: 100%;
}

.apps {
  margin-top: 170px;
}

.app {
  margin-bottom: 70px;

}

.absolute-center {
  -webkit-box-align:center;
  -webkit-box-pack:center;
  display:-webkit-box;
}

.app a {
    color: black;
}

.app a:hover {
    text-decoration: underline;
    color: #dd5f5c;
}

.app-img {
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
}

.app-name {
    font-family: "OpenSansExtraBold";
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5em;
}

.hover-view {
    width: 175px;
    height: 175px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    left: 0px;
    cursor: default;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

.hover-view .mask, .view .content {
    width: 175px;
    height: 175px;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
}

.hover-view img {
    display: block;
    position: relative
}

.hover-view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.hover-view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.hover-view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.hover-view a.info:hover {
    box-shadow: 0 0 5px #000
}

.hover-animate img {
    transition: all 0.2s linear;
}

.hover-animate .mask {
    opacity: 0;
    /*background-color: rgba(221,95,92, 0.7);*/
    background-color: rgba(0,0,0, 0.5);
    transition: all 0.4s ease-in-out;
}

.hover-animate h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hover-animate p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}

.hover-animate a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.hover-animate:hover img {

}

.hover-animate:hover .mask {
    opacity: 1;
}

.hover-animate:hover h2,
.hover-animate:hover p,
.hover-animate:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.hover-animate:hover p {
    transition-delay: 0.1s;
}
.hover-animate:hover a.info {
    transition-delay: 0.2s;
}

/* Vacancy */
.vacancy-text {
  font-size: 17px;
  margin-bottom: 40px;
}

.contacts-header {
  font-size: 25px;
  font-weight: 200;
}
.contacts-text {
  font-size: 17px;
}
